<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="import" href="/views/external/import.html">
    <script src="/views/query/type/type.gears.js"></script>
    <script src="/views/query/type/type.behaviors.js"></script>
</head>
<body>
<div id="header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        запит 7. Вивести види виробів за терміном співпраці виробника виробу,
                        та за  ціною виробу не менше вказаної.
                    </h3>
                </div>
                <div class="panel-body">
                    <fieldset class="row">
                        <div class="form-group col-md-4">
                            <label for="TypeTermin">Термін співпраці виробника</label>
                            <select class="form-control" id="TypeTermin"></select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="TypePrice">Ціна виробу (грн)</label>
                            <select class="form-control" id="TypePrice"></select>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default col-md-12">РЕЗУЛЬТАТ</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group table-responsive">
                            <table id="excelDataTable" class="table table-hover table-bordered"></table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer"></div>

</body>
</html>