<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="import" href="/views/external/import.html">
    <script src="/views/query/product/product.gears.js"></script>
    <script src="/views/query/product/product.behaviors.js"></script>
</head>
<body>
<div id="header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        запит 2. Вивести дані про вироби (ціна виробу сірого кольору, вид виробу, назва виробу, розмір виробу,
                        вага виробу, кількість одиниць виробу, одиниця виміру виробу, ціна кольорового
                        виробу,виробник виробу), яких є певна кількість, і які виготовлені в певній країні.

                    </h3>
                </div>
                <div class="panel-body">
                    <fieldset class="row">
                        <div class="form-group col-md-4">
                            <label for="ProductCount">Кількість виробів (шт)</label>
                            <select class="form-control" id="ProductCount"></select>
                        </div>
                        <!--45-->
                        <!--1200-->
                        <div class="form-group col-md-4">
                            <label for="ProductCountry">Країна виробник</label>
                            <select class="form-control" id="ProductCountry"></select>
                        </div>
                        <!--Україна-->
                        <div class="form-group">
                            <button type="button" class="btn btn-default col-md-12">РЕЗУЛЬТАТ</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group table-responsive">
                            <table id="excelDataTable" class="table table-hover table-bordered"></table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer"></div>

</body>
</html>